@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

.slick-next {
  right: 144px !important;
}

.slick-next::before {
  display: none;
}

.slick-prev {
  left: 0px !important;
}

.slick-prev::before {
  display: none;
}

.slick-prev,
.slick-next {
  z-index: 1 !important;
  width: 0px !important;
  height: 0px !important;
}

.card-custom {
  transition: all 0.5s ease-in-out !important;
}

/* styles.css */
.card-hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 10; /* Adjust as needed to ensure it's above the card content but below interactive elements */
}

.card-hover:hover::before {
  opacity: 1;
}
